@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using HQSOFT.Configuration.Permissions
@using HQSOFT.Configuration.Web.Pages.Configuration.HQTasks
@using HQSOFT.Configuration.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Configuration.Localization
@inject IHtmlLocalizer<ConfigurationResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["HQTasks"].Value;
    PageLayout.Content.MenuItemName = ConfigurationMenus.HQTasks;
}

@section scripts
{
    <abp-script src="/Pages/Configuration/HQTasks/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(ConfigurationPermissions.HQTasks.Create))
    {
        <abp-button id="NewHQTaskButton" text="@L["NewHQTask"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="SubjectFilter" label="@L["Subject"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ProjectFilter" label="@L["Project"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="StatusFilter" label="@L["Status"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PriorityFilter" label="@L["Priority"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ExpectedStartDateFilterMin" label="@L["MinExpectedStartDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ExpectedStartDateFilterMax" label="@L["MaxExpectedStartDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ExpectedEndDateFilterMin" label="@L["MinExpectedEndDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ExpectedEndDateFilterMax" label="@L["MaxExpectedEndDate"].Value" type="date"/>
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ExpectedTimeFilterMin" label="@L["MinExpectedTime"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ExpectedTimeFilterMax" label="@L["MaxExpectedTime"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ProcessFilterMin" label="@L["MinProcess"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="ProcessFilterMax" label="@L["MaxProcess"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="HQTasksTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Subject"]</th>
					<th>@L["Project"]</th>
					<th>@L["Status"]</th>
					<th>@L["Priority"]</th>
					<th>@L["ExpectedStartDate"]</th>
					<th>@L["ExpectedEndDate"]</th>
					<th>@L["ExpectedTime"]</th>
					<th>@L["Process"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>